<hr>

<h1> <%= @user_array.first_name.capitalize %>'s Bookmarks </h1>

<table border="1">
<tr>
  <th>
  #
  </th>
  <th>
  Coffee Shop
  </th>
  <th>
  Shop Address
  </th>
  <th>
  Rating
  </th>
</tr>
<% @bookmark_array.each_with_index do |index, i| %>
<tr>
  <td>
    <%= i + 1%>
  </td>
  <td>
    <%= index.shop.name%>
  </td>
  <td>
    <%= index.shop.address%>
  </td>
  <td>
    <%= index.shop.rating%>
  </td>
 
</tr>
<% end%>
</table>

<hr>

<div>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script>
  function initMap() {
    var mapDiv = document.getElementById('map');

    var map = new google.maps.Map(mapDiv);

    var bounds = new google.maps.LatLngBounds();
    
    <% @bookmark_array.each do |pins|%>

    var infowindow_<%=pins.shop.id %> = new google.maps.InfoWindow({
      content: "<%= pins.shop.name %>" 
    });
    
    var marker_<%=pins.shop.id%> = new google.maps.Marker({
      position: {lat: <%= pins.shop.latitude %>, lng: <%= pins.shop.longitude %> }, 
      map: map,
      title: '<%= pins.shop.name %>',
      icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png' 
    });
    
     marker_<%=pins.shop.id %>.addListener('click', function() {
    infowindow_<%= pins.shop.id %>.open(map, marker_<%= pins.shop.id %>);
  });

  bounds.extend(new google.maps.LatLng(<%= pins.shop.latitude %>, <%= pins.shop.longitude %> ));

  <% end %>

  map.fitBounds(bounds);
  };
  
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV.fetch("GMAPS_KEY")%>&callback=initMap"
async defer></script>  

<p></p>

<a href="/results">Return to results <a>
