<!DOCTYPE html>
<html>
  <head>
    <title>Micah.ai</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>
<% if session.fetch(:user_id) == nil%>
    <nav>
      <ul>
        <li>
          <a href="/user_sign_up">Signup</a>
        </li>
    <% else %>
        <li>
          <a href="/discover">Discover</a>
        </li>
        <li>
          <a href="/bookmarks">Bookmarks</a>
        </li>
        <li>
          <a href="/user_sign_out">Signout</a>
        </li>
      </ul>
     </nav>
     <% end %> 
    <div>
    <%= alert%>
    </div>
  <body>
    <%= yield %>
  </body>
</html>
